mopidy/core.conf
homeassistant/deps/*
homeassistant/www/*
homeassistant/home-assistant.db
homeassistant/home-assistant_v2.db
homeassistant/home-assistant.log
homeassistant/known_devices.yaml
homeassistant/ecobee.conf
homeassistant/google_calendars.yaml
homeassistant/html5_push_registrations.conf
homeassistant/OZW_Log.txt
homeassistant/.google.token
homeassistant/pyozw.sqlite
homeassistant/zwscene.xml
homeassistant/secrets.yaml
homeassistant/*_cookies.pickle
homeassistant/.spotify-token-cache
homeassistant/fitbit.conf
homeassistant/cam.sh
homeassistant/emulated_hue_ids.json
homeassistant/zwave_device_config.yaml
