mopidy/core.conf
homeassistant/deps/*
homeassistant/www/*
homeassistant/home-assistant.db
homeassistant/home-assistant_v2.db
homeassistant/home-assistant.log
homeassistant/known_devices.yaml
homeassistant/ecobee.conf
homeassistant/google_calendars.yaml
homeassistant/html5_push_registrations.conf
homeassistant/.HA_VERSION
homeassistant/log*
homeassistant/OZW_Log.txt
homeassistant/.google.token
homeassistant/zwcfg_*
homeassistant/pyozw.sqlite
homeassistant/zwscene.xml
homeassistant/secrets.yaml
